{% extends 'base.html.twig' %}

{% block title %}Edit Newsletter{% endblock %}

{% block body %}
<div class="min-h-screen bg-gray-100 py-12 px-3 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto mb-3">
        <h2>Edit Newsletter</h2>

        {{ include('newsletter_admin/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('newsletter_admin/_delete_form.html.twig') }}
    </div>


</div>
{% endblock %}
