{% extends 'base.html.twig' %}

{% block title %}Nouvel abonné{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gray-100 py-12 px-3 sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto mb-3">
            <h2 class="text-2xl font-bold text-gray-900 mb-6">Ajouter un nouvel abonné</h2>

            {{ include('subscriber/_form.html.twig', {
                'button_label': 'Enregistrer',
                'button_class': 'bg-indigo-600 hover:bg-indigo-700'
            }) }}
        </div>
    </div>
{% endblock %}
