<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Mon Site{% endblock %}</title>
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                {% if app.user %}
                    <li>
                        {{ app.user.email }} | 
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% endif %}
                <!-- Ajoutez d'autres liens ici si nécessaire -->
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
